# Entorno virtual
env/

# Archivos de configuración de Python
__pycache__/
*.py[cod]

# Archivos de configuración de Docker
*.db
*.sqlite3
.dockerignore

# Archivos de entorno
.env

# Archivos de logs
*.log
